[submodule "external/usbboot"]
	path = external/usbboot
	url = https://github.com/raspberrypi/usbboot
	shallow = true
[submodule "external/pi-gen-micro"]
	path = external/pi-gen-micro
	url = https://github.com/raspberrypi/pi-gen-micro
	shallow = true
[submodule "image/rpi-image-gen"]
	path = image/rpi-image-gen
	url = https://github.com/raspberrypi/rpi-image-gen
	shallow = true
